html, body {
height: 100%;
margin: 0;
padding: 0;
}

#map {
height: 100%;
}

#centered { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	z-index: 99;
}

#topleft { 
	position: absolute; 
	top: 2%; 
	left: 1%; 
	z-index: 99;
}
#topright { 
	position: absolute; 
	top: 0%; 
	right: 2%; 
	z-index: 99;
}